@import "_global";
@import "_vars";



.header {
    position: relative;
    height: 100vh;
    
}

.header__inner {}

.header__top {
    display: flex;
    height: 120px;
    align-items: center;
    margin-bottom: 100px;


}



.menu-wrap {
    position: fixed;
    top: 10px;
    right: 0;
    z-index: 1000;
}

.toggler {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    width: 60px;
    height: 60px;
    z-index: 3;
    opacity: 0;
    cursor: pointer;
}

.hamburger {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    width: 60px;
    height: 60px;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;


}

.hamburger>div {
    position: absolute;
    width: 60%;
    height: 3px;
    border-radius: 1.5px;
    background-color: #D3D3D3;
    transition: .4s;
}

.hamburger>div:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 3px;
    border-radius: 1.5px;
    background-color: #D3D3D3;
    top: -10px;
    right: 0;
    transition: .4s;
}

.hamburger>div:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 3px;
    border-radius: 1.5px;
    background-color: #D3D3D3;
    top: 10px;
    right: 0;
    transition: .4s;
}

.toggler:checked+.hamburger>div {
    transform: rotate(135deg);
}

.toggler:checked:hover+.hamburger>div {
    transform: rotate(225deg);
}

.toggler:checked+.hamburger>div:before,
.toggler:checked+.hamburger>div:after {
    top: 0;
    transform: rotate(90deg);
}

.menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    visibility: hidden;
    transition: .6s;
}

.menu>.line {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-150%) translateY(-50%);
    width: 1600px;
    height: 1600px;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.9);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    transition: .6s;
}

.menu>.line>.line {
    max-width: 90vw;
    max-height: 100vh;
    opacity: 0;
    transition: .6s;
}

.menu>.line>.line>.header__list>.header__list-item {
    list-style: none;
}

.menu>.line>.line>.header__list>.header__list-item>.header__list-link {
    text-decoration: none;
    color: #fff;
    font-weight: 550;
    text-transform: uppercase;
    margin: .5rem;
    transition: .3s;
    font-size: 1.2rem;
    display: inline-block;
}

.menu>.line>.line>.header__list>.header__list-item>.header__list-link:hover {
    color: #eb6f31;
}

.toggler:checked~.menu {
    visibility: visible;
}

.toggler:checked~.menu>.line {
    transform: translateX(-50%) translateY(-50%);
}

.toggler:checked~.menu>.line>.line {
    opacity: 1;
}


.header__wrap {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;









}


.header__slider-img {
    object-fit: cover;
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
}

.header__down {
    text-align: center;
}

.header__info{
    
}

.header__img {
    margin: 0;
    padding: 0;
    display: inline-block;


}



.header__title {
    margin: 0;
    font-family: 'Ubuntu', sans-serif;
    text-transform: uppercase;
    font-size: 72px;
    font-weight: 700;
    background: linear-gradient(45deg, #fff 47%, #000 66%, #000);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation-duration: 5s;
}

.header__subtitle {
    font-family: 'Montserrat', sans-serif;
    font-size: 36px;
    text-transform: uppercase;
    color: #fff;
    font-weight: 200;
    animation-duration: 10s;
}

.advantages {
    background-color: #eb6f31;
    padding: 100px 0;
}


.advantages__items {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

}

.advantages__item {

    margin-right: 20px;
    max-width: 270px;
    margin: 0 auto;
    padding: 10px;

}

.advantages__info {
    color: #fff;
    



}

.advantages__info-title {
    font-size: 16px;
}

.advantages__info-text {
    font-size: 10px;
    line-height: 30px;
    font-weight: 200;
}





.about {
    padding: 135px 0;
}

.about__inner {
    display: flex;


}

.about__left {
    padding: 82px 20px;
}

.about__info-title {
    display: inline-block;
    position: relative;
    font-size: 30px;
    text-transform: uppercase;
    margin-bottom: 65px;
    animation-duration: 3s;

    &::before {
        content: "";
        position: absolute;
        width: 81px;
        height: 4px;
        bottom: -24px;
        background-color: #eb6f31;

    }
}

.about__info-subtitle {
    font-size: 22px;
    line-height: 35px;
    margin-bottom: 45px;
}

.about__info-text {
    font-size: 14px;
    line-height: 30px;
    margin-bottom: 45px;
}

.about__info-link {
    color: #000;
}




.services {
    padding-top: 50px;
    padding-bottom: 50px;
}

.services__top {
    text-align: center;
    margin-bottom: 65px;
}

.services__top-title {
    display: inline-block;
    position: relative;
    font-size: 30px;
    padding: 40px;
    text-transform: uppercase;
    animation-duration: 3s;


    &::before {
        content: "";
        position: absolute;
        width: 81px;
        left: 35%;
        height: 4px;
        bottom: 15px;
        background-color: #eb6f31;
    }
}

.services__down {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.services__img {
    width: 400px;
    height: 265px;
    display: block;

}

.services__item {
    max-width: 400px;
    margin-bottom: 50px;
    margin-right: 10px;
}

.services__item:last-child {
    margin-right: 0px;
}

.services__info {
    padding: 77px 10px;
}

.services__info-text {
    font-size: 14px;
    line-height: 30px;
}


.products {
    padding: 100px 0;
    background-color: #313131;
}

.products__inner {}

.products__top {
    text-align: center;
    margin-bottom: 65px;
}

.products__top-title {
    padding: 30px;
    text-transform: uppercase;
    font-size: 30px;
    color: #fff;
    position: relative;
    animation-duration: 3s;
    display: inline-block;



    &::before {
        content: "";
        position: absolute;
        width: 81px;
        left: 35%;
        height: 4px;
        bottom: -15px;
        background-color: #eb6f31;
    }
}

.products__down {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.products__item {
    max-width: 350px;
    display: flex;
    margin-bottom: 90px;
    margin-right: 10px;
    

}

.products__item-img {
    display: inline-block;
    object-fit: contain;
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.products__info {
    padding: 10px;


}

.products__info-title {
    font-size: 16px;
    color: #fff;
    text-transform: uppercase;
    margin-bottom: 20px;
    

}

.products__info-text {
    font-size: 10px;
    color: #858585;
    line-height: 30px;


}

.collage {}

.gallery {

    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 5vw);
    grid-gap: 0px;

}


.gallery__img {
    width: 100%;
    height: 100%;
    object-fit: cover;


}







.gallery__item {
    display: inline-block;
    position: relative;



    &::after {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        box-shadow: inset 0 0 0 0 rgba(210, 105, 30, .7);
        transition: box-shadow .1s ease;
    }

    &:hover::after {
        box-shadow: inset 0 0 0 10px rgba(210, 105, 30, .7);
    }

}





.gallery__item--1 {
    display: inline-block;
    overflow: hidden;
    margin: 0;
    padding: 0;
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 9;
    grid-row-end: 1;

}







.gallery__item--2 {
    margin: 0;
    padding: 0;
    grid-column-start: 7;
    grid-column-end: 5;
    grid-row-start: 5;
    grid-row-end: 1;

}




.gallery__item--3 {
    margin: 0;
    padding: 0;
    grid-column-start: 7;
    grid-column-end: 9;
    grid-row-start: 1;
    grid-row-end: 5;




}




.gallery__item--4 {
    margin: 0;
    padding: 0;
    grid-column-start: 7;
    grid-column-end: 5;
    grid-row-start: 9;
    grid-row-end: 5;




}


.gallery__item--5 {
    margin: 0;
    padding: 0;
    grid-column-start: 7;
    grid-column-end: 9;
    grid-row-start: 9;
    grid-row-end: 5;




}






.content {
    margin: 0 auto;
    padding: 0;

    max-width: 100vw;
    max-height: 100vh;
    overflow: hidden;
    position: relative;


    &:before {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: #000;
        opacity: 0.5;
        top: 0;
        left: 0;
        z-index: 3;
    }

}

.content__video {
    padding-bottom: 56.25%;
}

.content video {
    position: absolute;
    width: 100%;
    height: auto;
    top: 0;
    left: 0;


}

.content__info {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-items: center;
    z-index: 5;

}

.content__info-title {
    position: absolute;
    font-size: 36px;
    color: #fff;
    font-weight: 200;
    top: 50%;
}

.partners {
    padding: 50px 0;
    background-color: #ea6e32;
}

.partners__inner {
    display: flex;
    padding: 20px 0;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;

}

.partner__left {
    display: inline-block;

}

.partner__left-title {
    font-size: 30px;
    text-transform: uppercase;
    color: #fff;
    position: relative;
    display: inline-block;

    &::before {
        content: "";
        position: absolute;
        width: 81px;
        left: 0;
        height: 4px;
        bottom: -15px;
        background-color: #bb5b2c;
    }
}

.partner__img {
    padding: 0;
    margin: 0;
    display: inline-block;
    object-fit: contain;

    width: 200px;
    height: 200px;

}


.news {
    padding: 150px 0;
}

.news__inner {
    display: flex;
    justify-content: space-between;

}

.news__left {
    max-width: 520px;
    margin-right: 10px;
    padding: 30px 0;


}

.news__left-title {
    position: relative;
    margin-bottom: 67px;
    font-size: 30px;
    text-transform: uppercase;
    animation-duration: 3s;
    display: inline-block;

    &::before {
        content: "";
        position: absolute;
        width: 81px;
        left: 0;
        height: 4px;
        bottom: -15px;
        background-color: #eb6f31;
    }
}

.news__left-subtitle {
    font-size: 24px;
    margin-bottom: 50px;
}

.news__left-text {
    font-size: 14px;
    line-height: 30px;
    margin-bottom: 50px;
}

.news__left-btn {
    color: #000;
}

.news__right {
    flex-wrap: wrap;
    display: flex;
}

.news__item {
    max-width: 300px;
    display: inline-block;
    margin-right: 5px;
   padding-bottom: 30px ;

   
}

.news__item-img {
    max-width: 300px;
    height: 216px;
}

.news__item-text {

    font-size: 14px;
    line-height: 30px;
}




.footer {
    background-color: #313131;
    padding: 150px 0 50px 0; 
}

.footer__inner {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer__info {
    max-width: 440px;
    margin-right: 20px;
}

.footer__info-company {
    display: inline-block;
    color: #fff;
    font-size: 30px;
    text-decoration: none;
    transition: all 0.5s;
    margin-bottom: 30px;
    animation-duration: 3s;
    
    &:hover{
        color: #eb6f31;
    }
}

.footer__info-text {
    font-size: 12px;
    line-height: 35px;
    color: #b5b5b5;
}

.footer__contact {
    padding: 50px 0;
    margin-right: 20px;

}

.footer__contact-address {
    color: #b5b5b5;
    line-height: 20px;
    margin-bottom: 24px;
}

.footer__contact-ip {
    color: #b5b5b5;
    line-height: 20px;
    margin-bottom: 24px;
}

.footer__contact-mail{
    color: #b5b5b5;
    line-height: 20px;
    text-decoration: none;
    transition: all 0.5s;
    &:hover{
        color: blue;
    }
}
.footer__hyperlink {
    display: flex;
    padding: 50px 0;
}

.footer__about {
    margin-right: 40px;
   
}

.footer__list {
    padding: 0;
   
}

.footer__list-item {
    list-style: none;
   
}

.footer__list-link {
    display: block;
    text-decoration: none;
    font-size: 14px;
    text-transform: uppercase;
    color: #b5b5b5;
    margin-bottom: 25px;
    transition: all 0.5s;
   
 
    &:hover{
        color: #CD853F;
    }
}

.footer__blog {}



@media(max-width:1173px){

    .news__left{
        text-align: center;
        max-width: 800px;
        margin: 0 auto;
       
    }

    .news__left-title{
        &::before{
            left:10%
        }
    }

   .news__inner{
       display: inline-block;
   }

   .news__right{
       align-items: center;
       text-align: center;
       margin: 0 auto;
   }

   .news__item{
   
    margin: 0 auto;
   }

   

 }

@media(max-width:1005px){

    .partner__inner{
        display: inline-block;
        align-items: center;
        
    }
    .partner__left-title{
        text-align: center;
        justify-content: center;
        &::before{
            left:  25%;
        }
    }

    .partner__left{
        text-align: center;
        margin: 0 auto;
        justify-content: center;
        padding-bottom: 50px;
        
    }

    .partner__right{
        text-align: center;
        align-items: center;
        margin: 0 auto;
    }

 }

@media(max-width:745px){
   .products__down{
       text-align: center;
      
   }

   .products__item{
       display: block;
       margin: 0 auto;
       padding: 60px 0;
   }
}


@media(max-width:700px){
    .about__info-title{
        &::before{
            left: 15px;
        }
    }
   .about__left{
       text-align: center;
       padding: 0;
   }
    .about__right{
        display: none;
    }
}

@media(max-width:651px){
   .footer__info{
       text-align: center;
       margin: 0 auto;
   }

   .footer__inner{
       margin: 0 auto;
       text-align: center;
       align-items: center;
   }
   .footer__contact{
       text-align: center;
       margin: 0 auto;
    }
    .footer__hyperlink{
        margin: 0 auto;
    }
  }


@media(max-width:632px){
   .content__info-title{
       font-size: 20px;
   }
 }




@media(max-width:534px){

   
    .advantages__info{
        text-align: center;
    }
}

@media(max-width:447px){
    .services__img{
        width: 300px;
        display: inline-block;
        margin: 0 auto;
       
       
    }

    .services__down{
        margin: 0 auto;
        text-align: center;
    }

    .services__item{
        margin: 0 auto;
    }
    
}





@media(max-width:426px){

   
    .header__title{
        font-size: 50px;
    }

    .header__subtitle{
        font-size: 25px;
    }
}


@media(max-width:348px){
    .content__info-title{
        font-size: 15px;
    }
  }